LO PRIMERO QUE NOS INTERESA SABER ES LA CORRELACION QUE TENEMOS DE CADA VARIABLE CON EL PRECIO, DE LAS VARIABLES QUE AUN NO HEMOS PASADO A DUMMIES

In [7]:
import pandas as pd
import numpy as np
import os
import sqlalchemy
import sqlite3 as sql
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler


database = "../KAGGLE_PRUBAS_DATA/DATA/diamonds_train.db"
connection = sql.connect(database)

query = '''SELECT tr.index_id, c.clarity, cl.color, ct.cut, dm.depth, dm.'table', dm.x, dm.y, dm.z, tr.price, ci.city, tr.carat
FROM diamonds_properties pr
   INNER JOIN diamonds_clarity c ON pr.clarity_id = c.clarity_id
   INNER JOIN diamonds_color cl on pr.color_id = cl.color_id
   INNER JOIN diamonds_cut ct on pr.cut_id = ct.cut_id
   INNER JOIN diamonds_dimensions dm on pr.index_id = dm.index_id
   INNER JOIN diamonds_transactional tr on pr.index_id = tr.index_id
   INNER JOIN diamonds_city ci on tr.city_id = ci.city_id'''

diamonds = pd.read_sql_query(query,connection)

In [8]:
diamonds.head()

,index_id,clarity,color,cut,depth,table,x,y,z,price,city,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,VS2,J,Premium,62.4,58.0,6.83,6.79,4.25,4268,Dubai,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,VS2,H,Very Good,63.0,57.0,4.35,4.38,2.75,505,Kimberly,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,VS1,G,Fair,65.5,55.0,5.62,5.53,3.65,2686,Las Vegas,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,SI1,D,Good,63.8,56.0,4.68,4.72,3.00,738,Kimberly,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,SI1,G,Ideal,60.5,59.0,6.55,6.51,3.95,4882,Dubai,1.02

In [9]:
columnas = ["depth","table","x","y","z","carat","price"]
diamonds_correlacion = diamonds[columnas]
diamonds_correlacion.head()

   depth  table     x     y     z  carat  price
0   62.4   58.0  6.83  6.79  4.25   1.21   4268
1   63.0   57.0  4.35  4.38  2.75   0.32    505
2   65.5   55.0  5.62  5.53  3.65   0.71   2686
3   63.8   56.0  4.68  4.72  3.00   0.41    738
4   60.5   59.0  6.55  6.51  3.95   1.02   4882

CORRELAC ENTRE DEPTH Y PRICE

In [10]:
diamonds_correlacion["corrnumerador_depth"] = (diamonds_correlacion["depth"] - np.mean(diamonds_correlacion["depth"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))
diamonds_correlacion["corr1_depth"] = (diamonds_correlacion["depth"] - np.mean(diamonds_correlacion["depth"]))** 2
diamonds_correlacion["corr2_depth"] = (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))** 2
CORR_DEPTH_PRICE = sum(diamonds_correlacion["corrnumerador_depth"])/np.sqrt(sum(diamonds_correlacion["corr1_depth"])* sum(diamonds_correlacion["corr2_depth"]))
CORR_DEPTH_PRICE

/var/folders/y7/0kpvlnh10_q_n3y4x22wmk840000gn/T/ipykernel_5409/4096958333.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diamonds_correlacion["corrnumerador_depth"] = (diamonds_correlacion["depth"] - np.mean(diamonds_correlacion["depth"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))
/var/folders/y7/0kpvlnh10_q_n3y4x22wmk840000gn/T/ipykernel_5409/4096958333.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diamonds_correlacion["corr1_depth"] = (diamonds_correlacion["depth"] - np.mean(diamonds_correlacion["depth"]))** 2
/var/folders/y7/0kpvlnh10_q_n3y4x22wmk840000gn/T/ipykernel_5409/4096958333.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diamonds_correlacion["corr2_depth"] = (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))** 2

-0.014864269575235796

CORRELACION TABLE - PRICE

In [11]:
diamonds_correlacion["corrnumerador_table"] = (diamonds_correlacion["table"] - np.mean(diamonds_correlacion["table"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))
diamonds_correlacion["corr1_table"] = (diamonds_correlacion["table"] - np.mean(diamonds_correlacion["table"]))** 2
diamonds_correlacion["corr2_table"] = (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))** 2
CORR_TABLE_PRICE = sum(diamonds_correlacion["corrnumerador_table"])/np.sqrt(sum(diamonds_correlacion["corr1_table"])* sum(diamonds_correlacion["corr2_table"]))
CORR_TABLE_PRICE

/var/folders/y7/0kpvlnh10_q_n3y4x22wmk840000gn/T/ipykernel_5409/3827131147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diamonds_correlacion["corrnumerador_table"] = (diamonds_correlacion["table"] - np.mean(diamonds_correlacion["table"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))

0.1301105236189345

CORRELACION X - PRICE

In [12]:
diamonds_correlacion["corrnumerador_x"] = (diamonds_correlacion["x"] - np.mean(diamonds_correlacion["x"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))
diamonds_correlacion["corr1_x"] = (diamonds_correlacion["x"] - np.mean(diamonds_correlacion["x"]))** 2
diamonds_correlacion["corr2_x"] = (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))** 2
CORR_X_PRICE = sum(diamonds_correlacion["corrnumerador_x"])/np.sqrt(sum(diamonds_correlacion["corr1_x"])* sum(diamonds_correlacion["corr2_x"]))
CORR_X_PRICE

0.8858479443767979

CORRELACION Y - PRICE

In [13]:
diamonds_correlacion["corrnumerador_y"] = (diamonds_correlacion["y"] - np.mean(diamonds_correlacion["y"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))
diamonds_correlacion["corr1_y"] = (diamonds_correlacion["y"] - np.mean(diamonds_correlacion["y"]))** 2
diamonds_correlacion["corr2_y"] = (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))** 2
CORR_Y_PRICE = sum(diamonds_correlacion["corrnumerador_y"])/np.sqrt(sum(diamonds_correlacion["corr1_y"])* sum(diamonds_correlacion["corr2_y"]))
CORR_Y_PRICE

0.8661632281914176

CORRELACION Z - PRICE

In [14]:
diamonds_correlacion["corrnumerador_z"] = (diamonds_correlacion["z"] - np.mean(diamonds_correlacion["z"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))
diamonds_correlacion["corr1_z"] = (diamonds_correlacion["z"] - np.mean(diamonds_correlacion["z"]))** 2
diamonds_correlacion["corr2_z"] = (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))** 2
CORR_Z_PRICE = sum(diamonds_correlacion["corrnumerador_z"])/np.sqrt(sum(diamonds_correlacion["corr1_z"])* sum(diamonds_correlacion["corr2_z"]))
CORR_Z_PRICE

0.8745004883098441

CORRELACION CARAT - PRICE

In [15]:
diamonds_correlacion["corrnumerador_carat"] = (diamonds_correlacion["carat"] - np.mean(diamonds_correlacion["carat"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))
diamonds_correlacion["corr1_carat"] = (diamonds_correlacion["carat"] - np.mean(diamonds_correlacion["carat"]))** 2
diamonds_correlacion["corr2_carat"] = (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))** 2
CORR_CARAT_PRICE = sum(diamonds_correlacion["corrnumerador_carat"])/np.sqrt(sum(diamonds_correlacion["corr1_carat"])* sum(diamonds_correlacion["corr2_carat"]))
CORR_CARAT_PRICE

0.9219351745876729

SACAMOS EN CONCLUSION QUE DEPTH Y TABLE NOS LAS PODEMOS QUITAR

VAMOS A CREAR DOS NUEVAS COLUMNAS, UNA QUE SEA DEL VOLUMEN, Y OTRA QUE SEA DEL VOLUMEN/CARAT = DENSIDAD

In [22]:
diamonds_correlacion["volumen"] = diamonds_correlacion["x"] * diamonds_correlacion["y"] * diamonds_correlacion["z"]
diamonds_correlacion["densidad"] =  diamonds_correlacion["volumen"] / diamonds_correlacion["carat"]

In [23]:
diamonds_correlacion.head()

,depth,table,x,y,z,carat,price,corrnumerador_depth,corr1_depth,corr2_depth,...,corr2_z,corrnumerador_carat,corr1_carat,corr2_carat,volumen,V/W,corrnumerador_volumen,corr1_volumen,corr2_volumen,densidad
0,62.4,58.0,6.83,6.79,4.25,1.21,4268,219.746272,0.418814,1.152980e+05,...,1.152980e+05,139.996844,0.169987,1.152980e+05,197.096725,162.889855,22850.207958,4528.545088,1.152980e+05,162.889855
1,63.0,57.0,4.35,4.38,2.75,0.32,505,-4269.578113,1.555405,1.171997e+07,...,1.171997e+07,1635.398590,0.228203,1.171997e+07,52.395750,163.736719,264996.886801,5991.767712,1.171997e+07,163.736719
2,65.5,55.0,5.62,5.53,3.65,0.71,2686,-4655.636442,14.041197,1.543668e+06,...,1.543668e+06,108.969336,0.007692,1.543668e+06,113.436890,159.770268,20333.062812,267.825319,1.543668e+06,159.770268
3,63.8,56.0,4.68,4.72,3.00,0.41,738,-6531.345741,4.190858,1.017894e+07,...,1.017894e+07,1236.953183,0.150316,1.017894e+07,66.268800,161.631220,202699.974446,4036.500475,1.017894e+07,161.631220
4,60.5,59.0,6.55,6.51,3.95,1.02,4882,-1194.653874,1.569612,9.092682e+05,...,9.092682e+05,211.970056,0.049415,9.092682e+05,168.429975,165.127426,36833.671765,1492.100405,9.092682e+05,165.127426

AHORA VAMOS A VER QUE CORRELACION TIENEN ESTAS DOS NUEVAS FEATURES QUE HEMOS CREADO CON EL TARGET QUE SERA EL PRECIO

CORRELACION ENTRE EL VOLUMEN Y EL PRECIO

In [24]:
diamonds_correlacion["corrnumerador_volumen"] = (diamonds_correlacion["volumen"] - np.mean(diamonds_correlacion["volumen"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))
diamonds_correlacion["corr1_volumen"] = (diamonds_correlacion["volumen"] - np.mean(diamonds_correlacion["volumen"]))** 2
diamonds_correlacion["corr2_volumen"] = (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))** 2
CORR_VOLUMEN_PRICE = sum(diamonds_correlacion["corrnumerador_volumen"])/np.sqrt(sum(diamonds_correlacion["corr1_volumen"])* sum(diamonds_correlacion["corr2_volumen"]))
CORR_VOLUMEN_PRICE

0.898684108795373

CORRELACION ENTRE LA DENSIDAD Y EL PRECIO

In [25]:
diamonds_correlacion["corrnumerador_densidad"] = (diamonds_correlacion["densidad"] - np.mean(diamonds_correlacion["densidad"]))* (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))
diamonds_correlacion["corr1_densidad"] = (diamonds_correlacion["densidad"] - np.mean(diamonds_correlacion["densidad"]))** 2
diamonds_correlacion["corr2_densidad"] = (diamonds_correlacion["price"] - np.mean(diamonds_correlacion["price"]))** 2
CORR_DENSIDAD_PRICE = sum(diamonds_correlacion["corrnumerador_densidad"])/np.sqrt(sum(diamonds_correlacion["corr1_densidad"])* sum(diamonds_correlacion["corr2_densidad"]))
CORR_DENSIDAD_PRICE

-0.06382311314668762